/* The side navigation menu */
.sidebar {
  position: fixed;
  z-index: 1;
  left: 0;

  box-sizing: border-box;
  height: 100%;
  width: 250px;
  padding: 3rem 1.5rem 1rem;

  background-color: $color-darker;

  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: auto;

  transition: 0.5s;
}

.quick-links,
.projects {
  ul {
    margin: 0;
  }

  li {
    list-style: none;

    margin: 3px;
    padding: 3px;

    a {
      @extend %link;
      @include secondary-font;
      color: $font-color-dark;
    }
  }
}

.quick-links {
  margin-bottom: 2rem;
}

.create-project {
  @include create-form($btn-color: #aba8a8, $width: 75%);
  position: absolute;
  bottom: 1.5rem;
}
