.chip {
  width: 2rem;
  height: 0.5rem;

  border-radius: 4px;

  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.label,
.label--selected {
  display: flex;

  box-sizing: border-box;
  width: 100%;

  padding: 0.25rem 0.7rem;
  margin-bottom: 0.25rem;

  border: 1px solid transparent;
  border-radius: 0.5rem;

  overflow-x: hidden;

  .label__text {
    @include secondary-font;
    @include input;
    color: white;

    width: 100%;

    padding: 0;

    span {
      text-align: center;
      cursor: pointer;
    }
  }
}

.label--selected {
  border: 1px solid white;
}

.task-label {
  display: inline-block;

  font-family: $secondary-font;
  font-size: $secondary-font-size - 2px;
  color: white;

  padding: 6px 8px;
  border-radius: 5px;

  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}
