.popover {
  color: white;

  visibility: hidden;
  box-sizing: border-box;
  width: 300px;

  background-color: $color-darker;
  padding: 15px;
  border-radius: 6px;

  &__close-btn {
    @extend %close-btn;

    right: 3%;
    top: 1%;
  }

  &__title {
    @include section-title;
  }

  &__body {
    margin-bottom: 0.5rem;
  }
}
