.task,
.task--done {
  box-sizing: border-box;

  flex: 1;
  width: 100%;
  padding: 1rem;

  background: $color-lighter;
  box-shadow: 2px 4px 10px -1px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;

  margin-bottom: $task-default-spacing;

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: $task-default-spacing - 2px;

    .task__checkbox {
      position: relative;

      cursor: pointer;
      user-select: none;

      margin-right: $task-default-spacing;

      /* Hide the original indicator */
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      .checkbox__box {
        box-sizing: border-box;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 28px;
        height: 28px;

        background: #ffffff;
        border: 1.5px solid #aba8a8;
        border-radius: 4px;
      }

      .checkbox__check {
        display: none;

        box-sizing: border-box;

        width: 18px;
        height: 18px;

        background: #5bc5dc;
        border-radius: 2px;
      }

      &:hover .checkbox__box {
        opacity: 0.8;
      }
    }

    .task__body {
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    .task__labels {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: $task-default-spacing;
    }

    .task__title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-bottom: $task-default-spacing;
    }

    .task__name {
      @include primary-font;
      color: $font-color-light;
      overflow-wrap: break-word;
      word-wrap: break-word;

      width: 100%;
    }

    .task__number {
      font-family: $primary-font;
      font-size: $secondary-font-size - 2px;
      color: #757575;
    }

    .task__badges {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.subtask,
.subtask--done {
  .task__main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: $task-default-spacing - 2px;

    .task__name {
      font-family: $primary-font;
      font-size: $secondary-font-size;
      color: $font-color-light;
      overflow-wrap: break-word;
      word-wrap: break-word;

      width: 100%;
    }

    .task__number {
      font-family: $primary-font;
      font-size: $secondary-font-size - 4px;
      color: #757575;
    }
  }
}

.task--done,
.subtask--done {
  opacity: 0.45;
}
