/* used bootstrap alert colors */
.custom-toast {
  @include toast;
}

.custom-toast--primary {
  @include toast(
    $bg: #cfe2ff,
    $color: #084298,
    $border-color: #b6d4fe,
    $close-btn-color: black
  );
}

.custom-toast--success {
  @include toast(
    $bg: #d1e7dd,
    $color: #0f5132,
    $border-color: #badbcc,
    $close-btn-color: black
  );
}

.custom-toast--danger {
  @include toast(
    $bg: #f8d7da,
    $color: #842029,
    $border-color: #f5c2c7,
    $close-btn-color: black
  );
}

.custom-toast--warning {
  @include toast(
    $bg: #fff3cd,
    $color: #664d03,
    $border-color: #ffecb5,
    $close-btn-color: black
  );
}

.custom-toast--info {
  @include toast(
    $bg: #cff4fc,
    $color: #055160,
    $border-color: #b6effb,
    $close-btn-color: black
  );
}
