@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Globals */
body {
  --main-color: #111;
  --transparent-main-color: rgba(17, 17, 17, 0.699);
  --secondary-color: #282727;
  --header-height: 80px;
  --font-face: 'PT Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-family: var(--font-face);
  color: white;
  background-color: var(--secondary-color);
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

input[type='text'] {
  font-family: var(--font-face);
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid rgb(133, 123, 123);
  transition: border-color 0.3s;
}

input[type='text']:focus {
  outline: none;
  border-color: white;
}

/** Header **/
header {
  box-sizing: border-box;
  position: sticky;
  top: 0;
  height: var(--header-height);
  margin-bottom: 10px;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: var(--transparent-main-color);
}

header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul li:first-child {
  margin-right: 15px;
}

#side-bar {
  padding: 5px 2px 0;
}

#side-bar:focus {
  outline: none;
}

.show {
  width: 250px !important ;
}

.pushed {
  margin-left: 250px !important;
}

/* The side navigation menu */
aside {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: var(--header-height); /* Stay at the top */
  left: 0;
  background-color: var(--main-color); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: auto;
  padding-top: 40px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

@media screen and (max-height: 450px) {
  aside {
    padding-top: 15px;
  }
  aside li {
    font-size: 18px;
  }
}

@media screen and (max-width: 568px) {
  main.container {
    margin: 0 10px;
  }
  .pushed {
    margin-left: 50px !important;
  }
}

#projects > div {
  padding-left: 15px;
}

#projects ul > li {
  font-size: 18px;
  margin: 3px;
  padding: 3px;
  cursor: pointer;
  color: white;
}

#add-proj input {
  font-size: 18px;
  height: 30px;
  width: 180px;
}

#add-proj button {
  font-size: 22px;
  box-sizing: border-box;
  display: inline-block;
  color: rgb(133, 123, 123);
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: color 0.2s;
}

#add-proj button:focus {
  outline: none;
}

#add-proj input[type='text']:focus + button {
  /* display: inline-block; */
  color: white;
}

/* Main Content */
main {
  transition: margin-left 0.5s;
  margin: 0 50px;
  padding: 20px;
}

#taskbar {
  border: 1px solid black;
}

.labels {
  display: flex;
  flex-wrap: wrap;
}

.chip {
  height: 10px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #000;
  margin-bottom: 5px;
}

.chip:not(:last-child) {
  margin-right: 10px;
}

/* Task bar */
#add-task {
  height: 40px;
  width: 40px;
  color: white;
  font-size: 25px;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 50%;
}

#add-task:hover {
  opacity: 0.8;
}

#add-task:focus {
  color: blue;
  border-color: blue;
  outline: none;
}

/* Task */
.task {
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  border: 1px solid black;
  border-radius: 10px;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid black;
}

.check {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 50%;
}

.task:nth-child(2) {
  padding: 5px;
  display: flex;
  flex-direction: row;
}

/* 
Modal
Taken from: https://www.w3schools.com/howto/howto_css_modals.asp
*/
#modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(102, 102, 102, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: var(--main-color);
  margin: 2% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

.wide {
  width: 60%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

footer {
  width: 100%;
  margin-top: 20px;
  border-top: 1px solid black;
  text-align: center;
}
