$default-colors: (
  '#61BD4F',
  '#F2D600',
  '#FF9F1A',
  '#EB5A46',
  '#C377E0',
  '#0079BF',
  '#00C2E0',
  '#51E898',
  '#FF78CB',
  '#344563'
);

@each $color in $default-colors {
  [data-color='#{$color}' i] {
    color: white;
    background-color: #{$color};
  }
  [color='#{$color}' i] {
    color: white;
    background-color: #{$color};
  }
}
