$bg-light: white;
$bg-dark: #353535;
$font-light: black;
$font-dark: white;

$header-color: #252525;
$sidebar-color: #303030;

/** List */
$list-title-light: #303030;
$list-title-dark: white;
$list-body-light: #dedede;
$list-body-dark: #272727;
