@tailwind base;
@tailwind components;
@tailwind utilities;

/* solely to target Toastify's close btn */
.custom-toast .toast-close {
  font-size: 14px;
  color: black;
  opacity: 0.6;
  cursor: pointer;
}
