@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:wght@300;400;700&display=swap');
/* vendor css */
@import '~github-markdown-css';
@import '~flatpickr/dist/flatpickr.min.css';
@import '~toastify-js/src/toastify.css';
@import '~tui-calendar/dist/tui-calendar.css';
@import '~tui-date-picker/dist/tui-date-picker.css';
@import '~tui-time-picker/dist/tui-time-picker.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* solely to target Toastify's close btn */
.custom-toast .toast-close {
  font-size: 14px;
  color: black;
  opacity: 0.6;
  cursor: pointer;
}

/* taken from https://popper.js.org/docs/v2/tutorial/ */
#tooltip {
  display: none;
  background: #333;

  font-family: 'Noto Sans', sans-serif;
  font-size: 13px;
  color: white;

  padding: 4px 8px;
  border-radius: 4px;

  z-index: 999;
}

#tooltip_arrow,
#tooltip_arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

#tooltip_arrow {
  visibility: hidden;
}

#tooltip_arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

#tooltip[data-show] {
  display: block;
}

#tooltip[data-popper-placement^='top'] > #tooltip_arrow {
  bottom: -4px;
}

#tooltip[data-popper-placement^='bottom'] > #tooltip_arrow {
  top: -4px;
}

#tooltip[data-popper-placement^='left'] > #tooltip_arrow {
  right: -4px;
}

#tooltip[data-popper-placement^='right'] > #tooltip_arrow {
  left: -4px;
}
